* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.Navbar {
  display: flex;
  justify-content: space-between;
  background-color: dodgerblue;
}
.logo {
  padding: 0.5rem;
  color: white
}

menu {
  display: flex;
  flex-direction: row;
}
li {
  padding: .5rem;
}
.navlink {
  color: white;
}
welcomeid {
  color: white;
}