* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .buttonsect {
    display: flex;
    justify-content: space-between;
    /* margin-top: -2rem; */
  }
  #prebut, #nextbut {
    margin-left: 1.5rem;
    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    will-change: box-shadow,transform;
    background: radial-gradient( 100% 100% at 100% 0%, #89E5FF 0%, #5468FF 100% );
    box-shadow: 0px 2px 4px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px rgb(58 65 111 / 50%);
    padding: 0 32px;
    border-radius: 6px;
    color: #fff;
    height: 48px;
    font-size: 18px;
    text-shadow: 0 1px 0 rgb(0 0 0 / 40%);
    transition: box-shadow 0.15s ease,transform 0.15s ease;
    :hover {
        box-shadow: 0px 4px 8px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #3c4fe0;
        transform: translateY(-2px);
    }
    :active{
        box-shadow: inset 0px 3px 7px #3c4fe0;
        transform: translateY(2px);
    }
    
  }

  #nextbut {
    margin-right: 2rem;
  }
/* 
  .exnamesec {
    
    margin: -3rem;  
  } */
  .exname {
    color:slategray;
  }
  video {
    text-align: center;
    justify-content: center;
  }

  .exdesc {
    font-size: 1rem;
    color: navy;
    text-align: center;
/* 
    margin-top: -1rem; */

  }
  /* .tbodyex {
    justify-content: space-around;
  }
  .toprowtablerow {
    
  } */
  /* table { 
    width: 100%;

     } 
     .toptablerow { 
        text-align: left;
     } 
     th, td { 
        padding: 10px;
        border-bottom: 15px solid transparent;
        color:black;
        background-clip: padding-box;

        

        justify-content: center;

     } */
     .button-91 {
       color: #fff;
       padding: 15px 25px;
       background-color: #0470ec;
       background-image: radial-gradient(93% 87% at 87% 89%, rgba(0, 0, 0, 0.23) 0%, transparent 86.18%), radial-gradient(66% 66% at 26% 20%, rgba(255, 255, 255, 0.55) 0%, rgba(255, 255, 255, 0) 69.79%, rgba(255, 255, 255, 0) 100%);
       box-shadow: inset -3px -3px 9px rgba(255, 255, 255, 0.25), inset 0px 3px 9px rgba(255, 255, 255, 0.3), inset 0px 1px 1px rgba(255, 255, 255, 0.6), inset 0px -8px 36px rgba(0, 0, 0, 0.3), inset 0px 1px 5px rgba(255, 255, 255, 0.6), 2px 19px 31px rgba(0, 0, 0, 0.2);
       border-radius: 14px;
       font-weight: bold;
       font-size: 16px;
     
       border: 0;
     
       user-select: none;
       -webkit-user-select: none;
       touch-action: manipulation;
     
       cursor: pointer;
     }
     .button-24 {
      background: #FF4742;
      border: 1px solid #FF4742;
      border-radius: 6px;
      box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
      box-sizing: border-box;
      color: #FFFFFF;
      cursor: pointer;
      display: inline-block;
      font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
      font-size: 16px;
      font-weight: 800;
      line-height: 16px;
      min-height: 40px;
      outline: 0;
      padding: 12px 14px;
      text-align: center;
      text-rendering: geometricprecision;
      text-transform: none;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      vertical-align: middle;
    }
    
    .button-24:hover,
    .button-24:active {
      background-color: initial;
      background-position: 0 0;
      color: #FF4742;
    }
    
    .button-24:active {
      opacity: .5;
    }
    