    * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    body {
    display: flex;
    flex-direction: column;
    background-color: lightcyan;
    }
    h2 {
      text-align: center;
      color:cornflowerblue
    }
    .difbutton {
        padding-top: 1.25rem;
        padding-bottom: 1rem;
        text-align: center;

    }
    .journalbox {
        text-align: center;
        padding-top: 1rem;
        padding-bottom: 1.5rem;                  
        box-sizing: border-box;
        /* border: 1px black; */
        background-color: dodgerblue;
    }
    a {
        font-size: 1.15rem;
    }
    #programbutton {
        
        display: inline-block;
        outline: none;
        cursor: pointer;
        font-size: 14px;
        line-height: 1;
        border-radius: 500px;
        transition-property: background-color,border-color,color,box-shadow,filter;
        transition-duration: .3s;
        border: 1px solid transparent;
        letter-spacing: 2px;
        min-width: 160px;
        text-transform: uppercase;
        white-space: normal;
        font-weight: 700;
        text-align: center;
        padding: 17px 48px;
        color: #fff;
        background-color: #1ED760;
        height: 48px;
        :hover{
            transform: scale(1.04);
            background-color: #21e065;
        }

    }